footer
	img.logo(src='/public/images/tos_logo.png')
	div.content
		h2.ui.inverted.header 救世主之樹 臺灣繁中 群眾翻譯計劃
			div.sub.header Tree of Savior - Chinese Traditional Translation Crowdsourcing project in Taiwan
	//- div.link
	//- 	div.ui.divided.list
	//- 		div.item
	//- 			i.setting.icon
	//- 			div.content
	//- 				a.inverted.header(href="http://forum.gamer.com.tw/A.php?bsn=19840") 救世主之樹 巴哈姆特討論區
	//- 				div.description 
	//- 		div.item
	//- 			i.setting.icon
	//- 			div.content
	//- 				a.inverted.header(href="http://www.facebook.com/TreeofSaviorZH") 救世主之樹 Tree of Savior 粉絲團（非官方）
	//- 				div.description 
	div.author
		h3.ui.center.aligned.inverted.header
			a(href='http://salmon.tw', target='_blank') Salmon @ 2015.03