html
	head
		title 救世主之樹 - 國際伺服器 臺灣繁體中文群眾外包翻譯
		// Favicon.
		link(rel='shortcut icon', type='image/png', href='/public/images/favicon.ico')
		// Semantic CSS.
		link(rel='stylesheet', href='/public/libs/Semantic-UI-1.11.4/semantic.min.css')
		// Default CSS.
		link(rel='stylesheet', href='/public/style.css')
		// jQuery js.
		script(src='/public/libs/jquery-1.11.1/jquery-1.11.1.min.js')
		// Semantic js.
		script(src='/public/libs/Semantic-UI-1.11.4/semantic.min.js')

	body
		div.wrapper
			include template/header.jade
			div.container
				div.ui.two.column.stackable.grid
					div.ten.wide.center.aligned.column
						div.ui.blue.segment
							if user
								h2.ui.center.aligned.header
									img.ui.circular.image(src='http://graph.facebook.com/' + user.id + '/picture?type=square')
									div.content 您好呀，#{user.name}
										div.sub.header 一起來協助翻譯工作吧！
							else
								div.ui.stackable.grid
									div.six.wide.center.aligned.column
										a(href='login')
											button.ui.facebook.button
												i.facebook.icon
												| 登入 Facebook
									div.ten.wide.left.aligned.column
										h3.ui.header 為什麼要用 Facebook 登入？
											div.sub.header 為了降低玩家灌水與匿名性犯罪的比率，請每位玩家都須使用 Facebook 進行登入。
					div.six.wide.center.aligned.column
						div.guides
							include guide.jade
				div.ui.green.segment.tableContainer
					div.ui.three.column.stackable.grid
						div.center.aligned.column
							div.ui.checkbox
								input(name='code', type='checkbox', data-group='code')
								label 顯示編號
						div.center.aligned.column
							div.ui.checkbox
								input(name='korean', type='checkbox', data-group='korean')
								label 顯示韓文
						div.center.aligned.column
							div.ui.checkbox
								input(name='english', type='checkbox', data-group='english')
								label 顯示英文
					div.ui.horizontal.divider
						i.setting.icon
					button.ui.fluid.massive.green.button(onclick="$('.tableContainer').addClass('loading'); location.reload();") 換新一組
					div.ui.horizontal.divider
						i.dashboard.icon
					table.ui.striped.celled.structured.table
						thead
							tr
								th.one.wide.collapsing.center.aligned(rowspan='2', data-group='code') 編號
								th.four.wide.center.aligned(rowspan='2', data-group='korean') 韓文（Korean）
								th.four.wide.center.aligned(rowspan='2', data-group='english') 英語（English）
								th.seven.wide.center.aligned(colspan='4') 正體中文（Chinese Traditional）
							tr
								th.two.wide.center.aligned 當前第一
								th.two.wide.center.aligned 當前第二
								th.two.wide.center.aligned 當前第三
								th.one.wide.collapsing.center.aligned 展開全部
						tbody
							each languages, code in baseData
								tr
									td.left.aligned #{code}
									each conversation in languages
										if conversation !== ''
											td
												div #{conversation}
										else
											td.disabled
												div 暫無資料
									td -
									td -
									td -
									td.center.aligned.cursor.pointer(onclick="detailConversation('" + code + "');")
										button.ui.circular.icon.green.button.margin.reset
											i.add.icon
		include detail.jade
		include template/footer.jade
		script.
			// Random image for header screenshot.
			$('header').css('background-image', 'url(/public/images/screenshots/' + Math.floor(Math.random() * 5 + 1) + '.jpg)');
			// Ban the all drag event.
			$('img').on('dragstart', function (event) { event.preventDefault(); });
		script.
			// Semantic-UI Checkbox default value using session storage.
			if (! sessionStorage.code) {
				sessionStorage.code = 'off';
			}
			if (! sessionStorage.korean) {
				sessionStorage.korean = 'on';
			}
			if (! sessionStorage.english) {
				sessionStorage.english = 'on';
			}
			$('.ui.checkbox').map(function (index, element) {
				var group  = $('input', element).data('group');
				var toggle = sessionStorage[group];
				$(element).checkbox((toggle === 'on') ? 'check' : 'uncheck');
			});
			$('.ui.checkbox').checkbox({
				onChecked   : function () {
					var group  = $(this).data('group');
					var index  = $('th[data-group=' + group + ']').index('thead tr th') + 1;
					var $thead = $('th[data-group=' + group + ']'),
						$tbody = $('tbody tr td:nth-child(' + index + ')');
					$thead.show();
					$tbody.show();
					// Modify the session storage.
					sessionStorage[group] = 'on';
				},
				onUnchecked	: function () {
					var group  = $(this).data('group');
					var index  = $('th[data-group=' + group + ']').index('thead tr th') + 1;
					var $thead = $('th[data-group=' + group + ']'),
						$tbody = $('tbody tr td:nth-child(' + index + ')');
					$thead.hide();
					$tbody.hide();
					// Modify the session storage.
					sessionStorage[group] = 'off';
				}
			});
		script.
			// Fullscreen dialog for detail of conversation.
			function detailConversation(code) {
				ajaxGetConversation(code, function (data) {
					var $conversation = $('.detailConversation.ui.modal'),
						$translation  = $('.submitTranslation.ui.modal')
						HTML          = $.parseHTML(data, null, true);
					$conversation.replaceWith(HTML[0]);
					$conversation = $('.detailConversation.ui.modal');
					$translation.replaceWith(HTML[1]);
					$translation  = $('.submitTranslation.ui.modal');
					eval(HTML[2]);
					$translation.modal('attach events', '.detailConversation button.submit.button');
					$conversation.modal('show');
				});
			}
		script.
			function ajaxGetConversation(code, callback) {
				$.ajax(
					{
						url     : '/conversation/' + code,
						type    : 'GET',
						error   : function () {
							var data = { type: 'ERR_TIMEOUT' };
							callback(data);
						},
						success : function (data) {
							callback(data);
						},
						timeout : 5000
					}
				);
			}