html
	head
		title 救世主之樹 - 國際伺服器 臺灣繁體中文群眾外包翻譯
		// Semantic CSS.
		link(rel='stylesheet', href='/public/libs/Semantic-UI-1.11.4/semantic.min.css')
		// Default CSS.
		link(rel='stylesheet', href='/public/style.css')
		// jQuery js.
		script(src='/public/libs/jquery-1.11.1/jquery-1.11.1.min.js')
		// Semantic js.
		script(src='/public/libs/Semantic-UI-1.11.4/semantic.min.js')

	body
		div.wrapper
			include header.jade
			div.container
		include footer.jade
		script.
			// Random image for header screenshot.
			$('header').css('background-image', 'url(/public/images/screenshots/' + Math.floor(Math.random() * 5 + 1) + '.jpg)');
			// Ban the all drag event.
			$('img').on('dragstart', function (event) { event.preventDefault(); });