table.ui.striped.celled.structured.table
	thead
		tr
			th.one.wide.collapsing.center.aligned(rowspan='2', data-group='code') 編號
			th.two.wide.center.aligned(rowspan='2', data-group='korean')
				div.country.flag
					img(src="/public/images/country/32/South-Korea.png")
				| 韓文（Korean）
			th.two.wide.center.aligned(rowspan='2', data-group='english')
				div.country.flag
					img(src="/public/images/country/32/United-States.png")
				| 英語（English）
			th.eleven.wide.center.aligned(colspan='4')
				div.country.flag
					img(src="/public/images/country/32/Taiwan.png")
				| 正體中文（Chinese Traditional）
		tr
			th.two.wide.center.aligned 當前第一
			th.two.wide.center.aligned 當前第二
			th.two.wide.center.aligned 當前第三
			th.one.wide.collapsing.center.aligned 展開全部
	tbody
		each types, code in baseData
			tr
				td.left.aligned.break.all #{code}
				each conversation, language in types.originals
					if conversation !== ''
						if language === 'KR'
							td
								div.country.flag
									img(src="/public/images/country/32/South-Korea.png")
								| #{conversation}
						else if language === 'EN'
							td
								div.country.flag
									img(src="/public/images/country/32/United-States.png")
								| #{conversation}
					else
						td.disabled.center.aligned 暫無資料
				each translation in types.translations
					if translation.length
						td #{translation[1].conversation}
					else
						td.disabled.center.aligned 從缺
				td.center.aligned.cursor.pointer.animate(onclick="detailConversation('" + code + "');")
					button.ui.circular.icon.green.button.margin.reset
						i.add.icon