footer
	img.logo(src='/public/images/tos_logo.png')
	div.content
		h2.ui.inverted.header 救世主之樹 臺灣繁中 群眾翻譯計劃
			div.sub.header Tree of Savior - Chinese Traditional Translation Crowdsourcing project in Taiwan
	//- div.link
	//- 	div.ui.divided.list
	//- 		div.item
	//- 			i.setting.icon
	//- 			div.content
	//- 				a.inverted.header(href="http://forum.gamer.com.tw/A.php?bsn=19840") 救世主之樹 巴哈姆特討論區
	//- 				div.description 
	//- 		div.item
	//- 			i.setting.icon
	//- 			div.content
	//- 				a.inverted.header(href="http://www.facebook.com/TreeofSaviorZH") 救世主之樹 Tree of Savior 粉絲團（非官方）
	//- 				div.description
	div.license
		| 本站所使用之遊戲畫面為韓國遊戲開發、發行公司 IMC Games & Nexon 所擁有，僅研究學術用途無謀取獲利
	div.author
		h3.ui.center.aligned.inverted.header
			a(href='http://salmon.tw', target='_blank')
				div.animate
					span.popup(data-content='土生土長台灣鮭', data-position='top center') Salmon @ 2015.03
	script.
		// Footer hover effect.
		$('footer .popup').popup();
		$('footer .animate').hover(
			function () {
				$(this).transition('set looping').transition('jiggle', '1500ms');
			}, function () {
				$(this).transition('remove looping');
			}
		);
