html, body {
	height: 100%;
	overflow-x: hidden;
}

.cursor.pointer {
	cursor: pointer;
}

.margin.reset {
	margin: 0;
}

.absolute.hide {
	display: none;
}

.break.all {
	word-break: break-all;
}

/* Header */

header {
	height: 300px;
	overflow: hidden;
	margin-bottom: 30px;
	background-size: 100%;
	background-position: center center;
}

header .container {
	position: relative;
	width: 100%;
	height: 100%;
}

header .container .title {
	position: absolute;
	bottom: 20px;
	padding: 15px 30px 15px 0px;
	background-color: rgba(0, 0, 0, 0.45);
	border-radius: 0px 10px 10px 0px;
}

header .container .title .word {
	color: rgba(255, 255, 255, 0.9);
	font-size: 3em;
	padding-left: 30px;
}

@media screen and (max-width: 1500px) {
	header {
		background-size: 1500px;
	}
}

@media screen and (max-width: 767px) {
	header .container .title .word {
		font-size: 2em;
	}
}

/* Body */

body > .wrapper {
	min-height: 100%;
	overflow: hidden;
	padding-bottom: 200px;
}

body > .wrapper > .container {
	padding-left: 30px;
	padding-right: 30px;
}

@media screen and (max-width: 767px) {
	body > .wrapper > .container {
		padding-left: 10px;
		padding-right: 10px;
	}
}

.github img {
	position: fixed;
	top: 0;
	left: 0;
	border: 0;
	z-index: 999;
}

@media screen and (max-width: 767px) {
	.github {
		display: none;
	}
}

.tableContainer {
	margin-bottom: 100px !important;
}

.tableContainer .ui.checkbox label {
	font-size: 1.35em !important;
	letter-spacing: 0.5em;
}

.tableContainer .ui.dropdown {
	font-size: 1.25em !important;
	letter-spacing: 0.1em;
}

.tableContainer > button {
	letter-spacing: 0.25em;
}

/* Conversation dialog */

.detailConversation .ui.message .country.flag {
	position: absolute;
	top: -15px;
	left: -10px;
}

.translationsContainer .hint {
	text-align: center;
}

.translationsContainer .ui.comments {
	margin: 0 auto;
}

.translationContainer .likeContainer {
	cursor: pointer;
	text-align: center;
	margin-top: 15px;
}

/* Footer */

footer {
	position: relative;
	margin-top: -175px;
	background-color: #323530;
	clear: both;
}

footer img.logo {
	position: absolute;
	top: -100px;
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	height: 125px;
}

footer .content {
	padding: 50px 15px 30px 15px;
}

footer .content > .header {
	font-size: 1.75em;
}

footer .license {
	color: rgba(110, 110, 110, 0.85);
	text-align: center;
	padding: 0px 15px;
}

footer .author {
	padding: 10px 0px 30px 0px;
}

footer .author a:link, footer .author a:visited, footer .author a:active {
	color: #00CC00 !important;
}

footer .author a:hover {
	color: #00CC00 !important;
}

footer .author .animate {
	padding: 8px 0px;
}

@media screen and (max-width: 767px) {
	footer .content > .header {
		font-size: 1.35em;
	}
	footer .content > .header > .sub.header {
		font-size: 0.85em;
		margin-top: 15px !important;
	}
}

/* Fixed some Semantic-UI */

.ui.header .ui.label, .ui.message .ui.label {
	font-size: 0.85em !important;
	padding: 0.25em 0.8em !important;
	margin: 0;
}

.ui.modal {
	overflow: hidden;
}

.ui.comments .comment .avatar {
	height: 2.5em !important;
}